/* Mine */

body {
  font-family:League Goudy;
}

h1, h2, h3, h4, h5, h6{
  font-family:League Spartan;
}

.post-separator{
  border-width:2px 0px 0px 0px;
  border-style:solid;
  border-color:black;
  margin-top:10px;
  margin-bottom:10px;
}

