/* Mine */

body {
  font-family:League Goudy;
}

h1, h2, h3, h4, h5, h6{
  font-family:League Spartan;
}

.post-separator{
  border-width:2px 0px 0px 0px;
  border-style:solid;
  border-color:black;
  margin-top:10px;
  margin-bottom:10px;
}

.top-image div img{
  margin:0 auto;
}

.top-image div{
  background-color:rgb(231, 231, 231);
  margin-bottom:10px;
}

.other-images > div > div{
  margin-bottom:10px;
}

.video-wrapper{
  position:relative;
  padding-bottom:56.25%;
  height:0;
}

.video-wrapper iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:none;
}
