<nav class="navbar navbar-default">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      {% if site.shorttitle %}
        <span class="hidden-xs">{{ site.title }}</span>
        <span class="visible-xs">{{ site.shorttitle }}</span>
      {% else %}
        {{ site.title }}
      {% endif %}
    </a>
    <ul class="nav navbar-nav">
      {% for pg in site.pages %}
      	{% if pg.title != null %}
          <li {% if page.title == pg.title %}class="active"{% endif %}>
            <a href="{{ pg.url | prepend: site.baseurl }}">
              {{ pg.title }}
            </a>
          </li>
      	{% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>
