---
layout: default
---
<div>
  {% if page.top_image %}
    <div class="row top-image visible-xs visible-sm">
      <div
      class="col-xs-12"
      style="background-image:url({{ page.top_image | prepend: site.baseurl }})">
        <img
        src="{{ page.top_image | prepend: site.baseurl }}"
        class="img-responsive"
        alt="{{ page.title }} banner image"/>
      </div>
    </div>
  {% endif %}
  <article class="post-content">
    <div class="row">
      <div
      class="col-md-6 post{% if page.other_images.size > 0 %} col-md-push-6{% endif %}">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
      {% if page.other_images.size > 0 %}
        <div class="col-md-6 col-md-pull-6 other-images">
          {% for img in page.other_images %}
            <div class="row">
              <div class="col-xs-12">
                {% if img contains "vimeo.com/" %}
                  <div class="video-wrapper">
                    <iframe
                    src="https://player.vimeo.com/video/{{ img | remove_first: "vimeo.com/" }}?color=ffffff"
                    width="712" height="400" allowfullscreen></iframe>
                  </div>
                {% elsif img contains "youtube.com/" %}
                  <div class="video-wrapper">
                    <iframe
                    src="https://www.youtube.com/embed/{{ img | remove_first: "youtube.com/" }}"
                    width="712" height="400" allowfullscreen></iframe>
                  </div>
                {% elsif img contains ".mp4" %}
                  <video width="100%" autoplay loop>
                    <source src="{{ img | prepend: site.baseurl }}" type="video/mp4" />
                  </video>
                {% else %}
                  <img
                  src="{{ img | prepend: site.baseurl }}"
                  class="img-responsive"
                  alt="another image" />
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% if page.links.size > 0 %}
      <nav class="row links">
        <div class="col-12">
          <h4>Other Links</h4>
          <ul>
            {% for item in page.links %}
            <li><a href="{{item.link}}">{{item.copy}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    {% endif %}
  </article>
</div>
