---
layout: default
---
<div class="row">
<div class="col-xs-12">
<h1>{{ page.title }}</h1>
</div>
</div>
<div class="row top-image">
<div class="col-xs-12">
<img src="{{ page.top_image | prepend: site.baseurl }}" class="img-responsive"></img>
</div>
</div>
<div class="row">
<div class="col-md-6{% if page.other_images.size > 0 %} col-md-push-6{% endif %}">
{{ content }}
</div>
{% if page.other_images.size > 0 %}
<div class="col-md-6 col-md-pull-6 other-images">
{% for img in page.other_images %}
<div class="row">
<div class="col-xs-12">
{% if img contains "vimeo.com/" %}
<div class="video-wrapper">
<iframe src="https://player.vimeo.com/video/{{ img | remove_first: "vimeo.com/" }}?color=ffffff" width="712" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
{% elsif img contains "youtube.com/" %}
<div class="video-wrapper">
<iframe src="https://www.youtube.com/embed/{{ img | remove_first: "youtube.com/" }}" width="712" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
{% else %}
<img src="{{ img | prepend: site.baseurl }}" class="img-responsive"></img>
{% endif %}
</div>
</div>
{% endfor %}
</div>
{% endif %}
